* {
  user-select: none;
}

#cookie {
  width: 100px;
  height: 100px;
  background-color: brown;
  border-radius: 50%;
  cursor: pointer;
}

.bounce {
  animation-duration: 200ms;
  animation-name: bounce;
}

.hidden {
  display: none;
}

.reward {
  font-size: 5rem;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}
